@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-lg;
  }
  p {
    @apply my-2;
  }
  button {
    @apply bg-indigo-700 text-white px-4 py-1 hover:bg-indigo-800 rounded-md;
  }

  input {
    @apply bg-gray-800 shadow-inner p-1 rounded-md;
  }
}

@layer components {
  .card {
    @apply p-4 rounded-md shadow border border-gray-500 bg-gray-800 flex flex-col gap-2;
  }
  .badge {
    @apply px-2 py-1 bg-gray-700 rounded-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
